<h1>Projects list</h1>		
	<ul>

	<% if flash[:notice]%>
		<%=flash[:notice]%>
	<%end%>

		<h2>Projects by year</h2>
			Hours I have been working: <%= @hours %>
			<%@entries_by_month.each do |entry|%>
			<li><%= entry.hours%>h
				<%= entry.minutes%>m
				<%= entry.date%>
				<%= entry.comments%>
			</li>
			<li><%= link_to("Edit entry", edit_project_entry_path(@project, entry))%>
				<%= link_to("Delete", project_entry_path(@project, entry), method: :delete, data: {confirm: 'Are you sure?'})%>
			</li><br/>
		<%end%>
	</ul>
<h4><%= link_to("Create new entry", new_project_entry_path)%></h4>
<h4><%= link_to("Back", projects_path)%></h4>